.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left>li {
  float: none;
 margin:0px;
  
}

/*.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background:#f90;
  border:none;
  border-radius:0px;
  margin:0px;
}*/
.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}
.tabs-left>li.active>a::after{content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #f90;
    display: block;
    width: 0;}

ul.tab-nav.tab-nav2 {
  border-bottom: 0;
}

ul.tab-nav.tab-nav2 li {
  border: 0;
  margin-left: 10px;
}

ul.tab-nav.tab-nav2 li:first-child {
  margin-left: 0;
  border-left: 0;
}

ul.tab-nav.tab-nav2 li a {
  background-color: #F5F5F5;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

ul.tab-nav.tab-nav2 li.ui-state-active a {
  top: 0;
  background-color: #1ABC9C;
  color: #FFF;
}